{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="{% static 'controlPanel/style.css' %}" rel="stylesheet">
    <title> Éval'Ponts </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'controlPanel:home' %}"> Éval'Ponts </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:generalView' %}"> Vue d'ensemble</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:exportDb' %}"> Exporter les réponses </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'controlPanel:importDb' %}"> Importer la base de données <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:typeForm' %}"> Gestion des questionnaires </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:project' %}"> Le projet </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:connect' %}"> Se déconnecter </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#pg"> Principe général</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#fe"> Format du fichier élèves </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#fc"> Format du fichier cours</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1> Importation de la base de données </h1>

          <h2 id="pg"> Principe général </h2>
            <p>
              Vous pouvez charger sur le serveur la base de données permettant d'évaluer les cours.
              Ces fichiers en .csv doivent respecter rigoureusement les structures rappelées ci-dessous,
              sans quoi la base de données pourrait être entièrement corrompue. <br/>
              Les .csv doivent avoir pour séparateur le « <i> ; </i> ».
            </p>

            <b> Attention, lors de l'importation des nouveaux fichiers,
              l'intégralité de la base de données est supprimée, sans possibilité de retour : 
              veillez-donc à exporter l'ensemble des résultats </b>

            <p><b> Veuillez noter que la création de la base de données est très longue
               (de l'ordre d'une dizaine de minutes) : vous ne pouvez pas accéder au site internet
               pendant cette durée.
            </b></p>

            <h2> Envoi des fichiers sur le serveur </h2>
            <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
              {% csrf_token %}
              <div class="form-group">
                  <div class="col-md-10">
                      <h3> Fichier élève </h3>
                      <input type="file" name="student_file" required/>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10">
                      <h3> Fichier cours </h3>
                      <input type="file" name="course_file" required/>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10">
                      <input type="submit" class="btn btn-dark center-block" value="Charger les fichiers sur le serveur" />
                  </div>
              </div>
            </form>

          <h2 id="fe">Format du fichier élèves </h2>
          <p>
            Le fichier d'entrée doit être au format suivant, en .csv avec « ; » comme séparateur.
            Si les libellés de module contiennent des « ; », le programme ne fonctionnera pas.<br/>
            Ce fichier est normalement directement une extraction .csv de Gede moyennant des suppressions de certaines colonnes et le renommage de l'entête. <br/>
            Noter que les colonnes et les lignes sont ici inversées pour des questions de visibilité.<br/>
            Si un cours ne possède aucun groupe, tous les élèves ont pour groupe le groupe <i> 0 </i>.
            Dès qu'il y a plus de deux groupes, ils sont numérotés à partir de <i> 1 </i>.
          </p>

          <table class="table" data-toggle="table">
            <thead class="thead-light">
              <tr>
                <th scope="col"> Entête de ligne </th>
                <th scope="col"> Exemple de ligne </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> NOM </th>
                <th> NAVIER </th>
              </tr>
              <tr>
                <th scope="row"> PRENOM </th>
                <th> Henri </th>
              </tr>
              <tr>
                <th scope="row"> LOGIN_LDAP </th>
                <th> henri.navier@enpc.fr </th>
              </tr>
              <tr>
                <th scope="row"> MAIL </th>
                <th> henri.navier@eleves.enpc.fr </th>
              </tr>
              <tr>
                <th scope="row"> DEPARTEMENT </th>
                <th> GI </th>
              </tr>
              <tr>
                <th scope="row"> LIBELLE_MODULE </th>
                <th> Mécanique - débutant </th>
              </tr>
              <tr>
                <th scope="row"> CODE_MODULE </th>
                <th> MMC1 </th>
              </tr>
              <tr>
                <th scope="row"> SC_GROUPE </th>
                <th> 0 </th>
              </tr>
              <tr>
                <th scope="row"> PERIODE </th>
                <th> Hiver </th>
              </tr>
            </tbody>
          <table>


          <h2 id="fc"> Format du fichier cours </h2>
          <p>
            Le fichier d'entrée doit être au format suivant, en .csv avec « ; » comme séparateur. <br/>
            Noter que les dates doivent être écrites exactement sous le format AAAA-MM-JJTHH:MM:SSZ qui
            est un format standard pour stocker des dates. <br/>
            Si les libellés de module contiennent des « ; », le programme ne fonctionnera pas.<br/>
            Noter que les colonnes et les lignes sont ici inversées pour des questions de visibilité. <br/>
          </p>

          <table class="table" data-toggle="table">
            <thead class="thead-light">
              <tr>
                <th scope="col"> Entête de ligne </th>
                <th scope="col"> Exemple de ligne </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> id_course </th>
                <th> TDLOG </th>
              </tr>
              <tr>
                <th scope="row"> label </th>
                <th> Techniques de développement logiciel </th>
              </tr>
              <tr>
                <th scope="row"> commissionsDate </th>
                <th> 2018−02−14T12:00:00Z</th>
              </tr>
              <tr>
                <th scope="row"> availableDate </th>
                <th> 2018−01−01T12:00:00Z</th>
              </tr>
              <tr>
                <th scope="row"> typeForm </th>
                <th> Classique </th>
              </tr>
              <tr>
                <th scope="row"> departement </th>
                <th> IMI </th>
              </tr>
              <tr>
                <th scope="row"> delegates </th>
                <th> henri.becquerel@enpc.fr, guy.beart@enpc.fr </th>
              </tr>
            </tbody>
          <table>

        </main>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
