{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="{% static 'controlPanel/style.css' %}" rel="stylesheet">
    <title> Click2Evaluate </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'controlPanel:home' %}"> Click2Evaluate </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'controlPanel:generalView' %}"> Vue d'ensemble <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:exportDb' %}"> Exporter les réponses </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:importDb' %}"> Importer la base de données </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:survey' %}"> Gestion des questionnaires </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:project' %}"> Le projet </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:generalView' %}"> Vue générale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if type_request == 'module'%} active {% endif %}"
                href="{% url 'controlPanel:specificView' 'module'%}">
                  Vue par module
                  {% if type_request == 'module'%}
                    <span class="sr-only">(current)</span>
                  {% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if type_request == 'departement'%} active {% endif %}"
                href="{% url 'controlPanel:specificView' 'departement' %}">
                  Vue par département
                    {% if type_request == 'departement'%}
                      <span class="sr-only">(current)</span>
                    {% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
              href="{% url 'controlPanel:questionViewHome'%}"> Vue par question (satisfaction) </a>
            </li>
          </ul>
        </nav>


        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1> Panneau d'administration de l'évaluation des cours </h1>

          <h2> Données relatives aux {% if type_request == 'module'%} modules {% else %} départements {% endif %} </h2>

          <p> Les résultats sont triés par ordre alphabétique du module / département </p>
          {% if type_request == 'departement'%}
            <p> <b> Attention </b>, on s'intéresse ici aux département de rattachement des élèves et non des cours. </p>
          {% else %}
              <b> Attention </b>, ne sont affichés que les modules actuellement disponibles à l'évaluation
           {% endif %}
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">
                    {% if type_request == 'module'%} Module {% else %} Département {% endif %}
                  </th>
                  <th scope="col"> Nombre d'élèves inscrits </th>
                  <th scope="col"> Taux de réponse </th>
                </tr>
              </thead>
              <tbody>
                {% for item in item_list %}
                <tr>
                  <th> {{ item.label }} </th>
                  <th> {{ item.nb_students }} </th>
                  <th> {{ item.rate_answer }}% </th>
                </tr>
                {% endfor %}
              </tbody>
            </table>

        </main>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
