{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link href="{% static 'controlPanel/style.css' %}" rel="stylesheet">
    <link href="{% static 'controlPanel/hbar.css' %}" rel="stylesheet">
    <title> Éval'Ponts </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'controlPanel:home' %}"> Éval'Ponts </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:generalView' %}"> Vue d'ensemble></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:exportDb' %}"> Exporter les réponses </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:importDb' %}"> Importer la base de données </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'controlPanel:typeForm' %}"> Gestion des questionnaires <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:project' %}"> Le projet </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'controlPanel:connect' %}"> Se déconnecter </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            {% for s in typeForm_list %}
            <li class="nav-item">
              <a class="nav-link {% if current_id == s.id %} active {% endif %}"
              href="{% url 'controlPanel:typeFormSpecific' s.id %}">
              {{ s.name }}
                {% if current.id == s.id %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1> Panneau d'administration de l'évaluation des cours </h1>



          {% if current_name %}
            <h2> Administration du questionnaire : <b> {{ current_name }} </b></h2>
              <i><p> Pour rajouter ou modifier des questions, veuillez vous rendre à la page suivante : <a href="/admin/"> Panneau d'administration </a> </p></i>
              <p> <i> {{ current_description }} </i> </p>

              <p> * : Question obligatoire </p>

              <h3> Déroulé du questionnaire </h3>
              <ul>
              {% for q in main_questions %}
              <li>
                <b> Q{{ q.position }} </b> : {{ q.label }}{% if q.obligatory %}*{% endif %}
                  <ul>
                    <li> Titre : {{ q.title }} </li>
                    <li> Type : {{ q.type_question }} </li>
                    {% if q.type_question == 'select' or q.type_question == 'selectOne' %}
                      <li> Choix possibles :
                        <ul>
                          {% for a in q.data %}
                          <li> {{ a }} </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% elif q.type_question == 'number' %}
                      <li> Début, fin : {% for x in q.data %} {{ x }} {% endfor %} </li>
                    {% endif %}
                      {% if q.had_sub_questions > 0 %}
                      <li> Sous-questions : </li>
                        <ul>
                          {% for q2 in q.sub_questions %}
                          <li>
                            <b> Si réponse {{ q2.parentsQuestionsValue }} </b> : {{ q2.label }}{% if q2.obligatory %}*{% endif %}
                              <ul>
                                <li> Titre : {{ q2.title }} </li>
                                <li> Type : {{ q2.type_question }} </li>
                                {% if q2.type_question == 'select' or q2.type_question == 'selectOne' %}
                                  <li> Choix possibles :
                                    <ul>
                                      {% for a in q2.data %}
                                      <li> {{ a }} </li>
                                      {% endfor %}
                                    </ul>
                                  </li>
                                {% elif q.type_question == 'number' %}
                                  <li> Début, fin : {% for x in q.data %} {{ x }} {% endfor %} </li>
                                {% endif %}
                              </ul>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                  </ul>
              </li>
              {% endfor %}
              </ul>
            {% else %}
              <p> Veuillez sélectionner un questionnaire sur le menu à gauche ou en créer un nouveau sur le <a href="/admin/">panneau d'administration </a> </p>
            {% endif %}
        </main>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-fr-BE.js"></script>
  </body>
</html>
